<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cloud_Backup_Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Cloud_Backup_Core.Properties.Settings>
            <setting name="SfuelLocalFilepath" serializeAs="String">
                <value />
            </setting>
            <setting name="UpsalesLocalFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="LpgLocalFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="SoftruckLocalFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="UploadSfuel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UploadUpsales" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UploadLpg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UploadSoftruck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SoftwareName" serializeAs="String">
                <value />
            </setting>
        </Cloud_Backup_Core.Properties.Settings>
    </userSettings>
</configuration>